@import url("https://fonts.googleapis.com/css2?family=Marhey:wght@500&family=Noto+Kufi+Arabic&display=swap");

@mixin shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@mixin rounded-corners {
  border-radius: 0.8rem;
}

@mixin title-font {
  font-family: marhey;
}

@mixin body-font {
  font-family: "noto kufi sans";
  font-size: 1.5rem;
  color: hsl(0, 0%, 5%);
  text-decoration: none;
}

@mixin circle {
  border-radius: 100%;
  aspect-ratio: 1 / 1;
}

body {
  margin: 0;

  background-color: hsl(0, 0%, 95%);
}

main {
  padding: 0 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include title-font();
}

p,
a {
  @include body-font();
}

.large-heading {
  font-size: 3rem;
}

.medium-heading {
  font-size: 2.5rem;
}

.small-heading {
  font-size: 2rem;
}

hr {
  margin: 2rem 0;
  border: 0;
}

.card {
  @include shadow();
  @include rounded-corners();

  padding: 1rem;

  background-color: white;
  border: 2px solid black;
}

.card-grid {
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  display: grid;
  gap: 2rem;

  grid-template-columns: 1fr;

  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@keyframes fade-out {
  from {
    display: inline;
    opacity: 100%;
  }

  99% {
    display: inline;
  }

  to {
    display: none;
    opacity: 0%;
  }
}

@keyframes bounce {
  from {
    translate: 0 -100vh;
  }
  40% {
    translate: 0;
  }
  60% {
    translate: 0;
  }
  to {
    translate: 0 100vh;
  }
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  place-items: center;

  background-color: hsla(0, 0%, 100%, 80%);

  animation-name: fade-out;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  img {
    box-sizing: border-box;
    width: 80%;
    margin: 3rme;

    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}
